
body{
  background-color:#ddd;
  margin:0;
  padding:0;
}



.top{
  position:fixed;
  background-color:#22a;
  width:100%;
  margin:0;
  top:0;
  right:0;
  left:0;
  padding:10px;
  box-shadow: 2px 2px 8px gray;
  display:flex;
  z-index:1;
}
.top *{
  display:flex;
  align-items:center;
}
.top div{
  padding-right:10px;
  padding-left:10px;
  height:60px;
  user-select:none
}
.top a{
  text-decoration:none;
  color:#fff;
}
.gazoyoko{
  vertical-align: middle;
  display: inline;
}
.ma{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
.ma div{border-right:4px solid #44f;}
.profile{border-left:4px solid #44f;}
.ma div:hover{background-color:#00c;}
.home  :hover{background-color:#00c;}



.menu{margin-left: auto;}
.hyo{bottom:0;}
.hih{bottom:100%;}
.hyo2{left:70%;}
.hih2{left:100%;}
#menu{
  transition:0.3s;
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  width:100%;
  z-index:0;
  top:80;
}
#gut{
  transition:0.3s;
  position:fixed;
  top:80px;
  padding-top:5px;
  background-color:#fff;
  margin-left:auto;
  width:30%;
  height:100%;
}



.main{
  width:80%;
  padding:20px;
  margin:10 auto;
  margin-top:100px;
  background-color:#fff;
  border-radius:20px;
  box-shadow: 2px 2px 8px gray;
}
.underline{
  width:80%;
  height:5px;
  background-color:#00f;
  margin-bottom:20px;
}
.0s{
  margin-bottom:0px;
}
.quote{
  background-color:#ddd;
  padding:8px;
  border:2px solid #888;
}